
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    overscroll-behavior: none;
    background-attachment: fixed;
    background: linear-gradient(to bottom,
    #3C58C7 0%,
    #5878E7 50%,
    #7F99ED 75%,
    #A8B3D8 88%,
    #C7B191 100%);
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.clock-container {
    /* width: 100%; */
    width: 336px;
    height: 180px;
    margin: 40px auto;
    color: #fff;
}

.clock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Azeret Mono", monospace;
    font-weight: 500;
    font-style: normal;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.clock-container::before {
    content: '';
}

.clock span {
    font-size: 64px;
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: 700;
}
.colon {
    font-family: sans-serif;
}

.clock span::after {
    /* content: '時'; */
    font-size: 16px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

#hours::after {
    content: '時';
}

#mins::after {
    content: '分';
}

#sec::after {
    content: '秒';
}
.hello-box {
    font-size: 72px;
    display: flex;
    flex-direction: column;
}